:root {
  --deepCerise: #E22A8E;
  --vividSkyBlue: #52D3F7;
  --oxfordBlue: #031845;
  --stPatrickBlue: #063088;
  --magnolia: #EBF0FF;
  --magTwo: rgba(235, 240, 255, 0.9);
  --lavenderBlue: #c2d1ff;
  --lBTwo: rgba(194, 209, 255, 0.5);
  --platinum: #EAECEE;
  --blueRYB: #0950FF;
}

#root > div > nav{
  background-color: var(--magnolia) !important;
  font-family: 'Kumbh Sans', sans-serif;
  border-bottom: 1px solid var(--lavenderBlue);
}
.aboutMe, .projects, .skills{
  color: var(--stPatrickBlue) !important;
}
.aboutMe:hover, .projects:hover, .skills:hover{
  color: var(--deepCerise) !important;
}
.navbar-brand{
  color: var(--stPatrickBlue) !important;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: bold;
}
#initials{
  color: var(--deepCerise) !important;
  font-weight: bold;
}
.nav-link{
  color: var(--stPatrickBlue) !important;
}
.contactButton{
  justify-self: center;
  background-color: var(--blueRYB);
  border-radius: 20px;
  color: var(--platinum) !important;
  border: 1px solid var(--blueRYB);
}
.contactButton:hover{
  box-shadow: 0 1em 1em -0.4em var(--oxfordBlue);
  transform: translateY(-0.15em);
  transition: .5s;
}
.contactButton:active{
  box-shadow: 0 1px var(--oxfordBlue);
  background-color: var(--stPatrickBlue);
  border: 1px solid var(--stPatrickBlue);
  transform: translateY(1px);
  transition: .5s;
}
