:root {
  --deepCerise: #e22a8e;
  --deepCeriseDark: #6c0f42;
  --vividSkyBlue: #52d3f7;
  --oxfordBlue: #031845;
  --stPatrickBlue: #063088;
  --stPatrickOpacity: rgba(6, 47, 136, 0.4);
  --platinum: #eaecee;
  --magnolia: #ebf0ff;
  --magTwo: rgba(235, 240, 255, 0.5);
  --lavenderBlue: #c2d1ff;
  --lBTwo: rgba(194, 209, 255, 0.5);
  --blueRYB: #0950ff;
  --blueRYB2: rgba(9, 79, 255, 0.05);
  --cornFlowerBlue: #76A0F9;
}
.wholeSkillsContainer {
  padding: 10px;
}
.skillsHeader {
  padding: 10px;
  margin: 10px 0px;
}
.headerSkills {
  border-radius: 0px 50px !important;
  border: 2px solid var(--magnolia);
  background-color: var(--cornFlowerBlue) !important;
  box-shadow: 10px 10px var(--oxfordBlue);
  color: var(--oxfordBlue) !important;
}
.theSkill {
  font-size: 100px;
  text-align: center;
}
.skillsContainer {
  padding: 5px;
  margin: 5px;
  border: 1px solid var(--lBTwo);
  box-shadow: 5px 10px var(--oxfordBlue);
  background-color: var(--magnolia) !important;
}
.skillsContainer:hover{
  flex-direction: row-reverse;
}
.firstThree,
.thirdThree,
.secondThree {
  border: 2px solid var(--oxfordBlue) !important;
  border-radius: 50px 0px 0px 0px !important;
  padding: 5px;
  margin: 5px;
  background-color: var(--cornFlowerBlue) ;
}
.secondThree {
  border-radius: 0px !important;
}
.thirdThree {
  border-radius: 0px 0px 50px 0px !important;
}
.skillsContent{
    padding: 10px;
    border: 2px solid var(--magnolia);
    border-radius: 50px 0px;
    background-color: var(--stPatrickOpacity) !important;
    box-shadow: 5px 10px var(--oxfordBlue);
}
.firstThreeContainer {
  display: flex;
  margin: 10px;
}
.js{
    border-radius: 20px 0px 0px 0px;
}
.bootstrap{
    border-radius: 0px 0px 20px 0px;
}
.individualSkill{
  margin: 0px 10px;
}