:root {
  --deepCerise: #e22a8e;
  --vividSkyBlue: #52d3f7;
  --oxfordBlue: #031845;
  --stPatrickBlue: #063088;
  --platinum: #eaecee;
  --magnolia: #ebf0ff;
  --lavenderBlue: #c2d1ff;
  --lBTwoApp: rgba(180, 197, 248, 0.616);
  --magTwoApp: rgba(36, 90, 253, 0.3);
  --blueRYB: #0950ff;
}

.App {
  height: 100%;
  text-align: center;
  background-image: linear-gradient(
    to bottom right,
    var(--lBTwoApp),
    var(--magTwoApp)
  ),
  url("./images/pexels-henry.jpg");
  background-size: cover;
}