:root {
  --deepCerise: #e22a8e;
  --vividSkyBlue: #52d3f7;
  --oxfordBlue: #031845;
  --stPatrickBlue: #063088;
  --platinum: #eaecee;
  --magnolia: #ebf0ff;
  --lavenderBlue: #c2d1ff;
  --blueRYB: #0950ff;
}

.aboutMeContainer{
  background-color: var(--magnolia) !important;
  padding: 100px;
}
.aboutMeJumbo{
  color: var(--oxfordBlue) !important;
  justify-content: center;
  align-content: center;
  text-align: start;
}
.iAm{
  text-align: start;
}
.styles_typicalWrapper__1_Uvh{
  color: var(--blueRYB) !important;
}
.imgOfHenry{
  border-radius: 80px 0px !important;
  box-shadow: 10px 10px var(--blueRYB);
}
.resumeBtn{
  justify-content: center;
  align-content: center;
}