:root {
  --deepCerise: #e22a8e;
  --vividSkyBlue: #52d3f7;
  --oxfordBlue: #031845;
  --stPatrickBlue: #063088;
  --platinum: #eaecee;
  --magnolia: #ebf0ff;
  --lavenderBlue: #c2d1ff;
  --blueRYB: #0950ff;
}

.aboutMeContainer{
  background-color: var(--magnolia) !important;
  padding: 100px;
}
.aboutMeJumbo{
  border-radius: 13px !important;
  border: 1px solid var(--lavenderBlue);
  background-color: var(--magnolia) !important;
  color: var(--oxfordBlue) !important;
}
