:root {
  --deepCerise: #e22a8e;
  --vividSkyBlue: #52d3f7;
  --oxfordBlue: #031845;
  --stPatrickBlue: #063088;
  --stPatrickOpacity: rgba(6, 47, 136, 0.4);
  --platinum: #eaecee;
  --magnolia: #ebf0ff;
  --magTwo: rgba(235, 240, 255, 0.5);
  --lavenderBlue: #c2d1ff;
  --lBTwo: rgba(194, 209, 255, 0.5);
  --blueRYB: #0950ff;
  --blueRYB2: rgba(9, 79, 255, 0.05);
  --cornFlowerBlue: #76A0F9;
}
.aboutMeContainer {
  padding: 10px;
}
.aboutMeFirstRow {
  margin: 20px;
}
.aboutMeJumbo {
  border-radius: 0px 50px !important;
  border: 4px solid var(--magnolia) !important;
  box-shadow: 15px 15px var(--stPatrickBlue);
  background-color: var(--cornFlowerBlue) !important;
  color: var(--oxfordBlue) !important;
  border: 2px solid var(--magnolia) !important;
  margin: 20px;
}
.aboutMeHeaderRow {
  padding: 10px;
}
.aboutMeHeader{
  padding: 10px;
  border: 2px solid var(--magnolia) !important;
  border-radius: 0px 50px !important;
  box-shadow: 5px 5px var(--stPatrickBlue);
  background-color: var(--stPatrickOpacity) !important;
  color: var(--magnolia);
}
.typistContainer {
  padding: 10px;
  margin: 10px;
  align-content: center;
  text-align: center;
}
.styles_typicalWrapper__1_Uvh {
  color: var(--blueRYB) !important;
}
.bodyButtonResume {
  padding: 20px;
}
.buttonResume {
  /* justify-self: center; */
  /* align-self: center; */
  background-color: var(--blueRYB) !important;
  color: var(--platinum) !important;
  border: 2px solid var(--blueRYB);
  height: 50px;
  width: 100px;
  border-radius: 50px;
  outline: none !important;

}
.buttonResume:hover {
  box-shadow: 0 1em 1em -0.4em var(--oxfordBlue);
  transform: translateY(-0.15em);
  transition: 0.5s;
}
.buttonResume:active {
  box-shadow: 0 1px var(--oxfordBlue);
  background-color: var(--stPatrickBlue) !important;
  transform: translateY(1px);
  transition: 0.5s;
  border: 1px solid var(--stPatrickBlue);
}
.aboutMeParagraphContainer {
  padding: 10px 0px;
  margin: 5px;
}
.aboutMeP {
  padding: 10px;
  border: 2px solid var(--magnolia);
  background-color: var(--stPatrickOpacity);
  /* background-image: linear-gradient(
    to bottom right,
    var(--stPatrickOpacity),
    var(--stPatrickOpacity)
  ); */
  background-size: cover;
  border-radius: 0px 50px;
  box-shadow: 10px 10px var(--stPatrickBlue);
}

#aboutHenry {
  padding: 10px;
  color: var(--magnolia);
}
.aboutMeFooter {
  padding: 5px;
}
.letsWork {
  border-bottom: 2px solid var(--blueRYB);
}
.imgOfHenry {
  border-radius: 50px 0px !important;
  box-shadow: 15px 15px var(--stPatrickBlue);
  background-color: var(--magnolia) !important;
  border: 2px solid var(--magnolia) !important;
  width: 300px;
  height: auto;
}

.aboutMeQuote {
  border-radius: 50px 0px !important;
  background-color: var(--stPatrickOpacity);
  box-shadow: 15px 15px var(--stPatrickBlue);
  border: 2px solid var(--magnolia);
  color: white !important;
  margin: 15px;
  padding: 10px;
}
.philsQuote {
  margin: 10px;
}
.blockquote-footer {
  color: var(--oxfordBlue) !important;
}
.descriptionFooter{
  padding: 10px;
}
#resumeTag{
  color: var(--magnolia);
}
